{% extends "base.html" %}

{% block head %}
{% load static %}
    <link href="{% static 'css/noticia.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">

        <h1 class="text-center" id="titulo">{{ notic.titulo }}</h1>

        <div class="container-fluid">
            <p id="date"> {{ notic.date|date:"d/m/y" }} <br> {{ notic.date|time:"h:i A" }} </p>
            <div class="col mx-auto text-center">
                <img class="img-fluid" id="image" src="{{ notic.image.url }}" alt="{{ notic.titulo }}">
            </div>
        </div>
        
        <h3 class="text-center" id="corpo">{{ notic.corpo }}</h3>  
    </div>













    <script src="{% static 'js/noticia.js' %}"></script>
            
{% endblock %}